@font-face {
    font-family: "kroftsmann";
    src: url("../fonts/Kroftsmann.ttf");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::before,
::after {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    content: "";
    margin-right: .3em;
}

ul {
    list-style: none;
}

ol {
    list-style: lower-roman;
}

textarea {
    resize: none;
}

body {
    font-family: "kroftsmann";
    font-size: 2rem;
    background-color: beige;
    color: red;
}

h1, h2, h3,
h4, h5, h6 {
    margin: 1em .3em 1em;
}

ul li,
ol li {
    position: relative;
}

ul li::before {
    position: absolute;
    left: -1em;
    top: -.15em;
    content: "\262D";
}

.kolkhoze {
    display: flex;
    justify-content: space-around;
    align-content: center;

    margin: 1em .5em;
    padding: .8em 1.3em;
}

.dashed {
    border: 3px dashed currentColor;
}

.title {
    display: block;
    text-align: center;
    font-size: 5rem;
    margin: .3em .3em .5em;
}

/* Buttons */
button { 
    border: none;
    font-family: inherit;
    font-size: 1.3rem;
    color: inherit;
    padding: .5em 0.8em;
}

button:hover {
    cursor: pointer;
    background-color: red;
    color: #fbc531;
}

/* Frames */
.frame {
    position: relative;
    padding: 2.2em 2.2em .5em;
    margin: 1em .3em;
    border: 1px solid red;
}

.frame::before {
    display: inline-block;
    position: absolute;
    top: -.3rem;
    left: .3rem;
    content: "\262D";
    font-size: 5.5rem;
  }


/* Inputs */
input,
textarea {
    padding: .5em .8em;
    border-style: solid;
    border-radius: 3px;
    font-family: inherit;
    font-size: 1.1rem;
}

textarea {
    flex: 2 1 auto;
    font-size: 1.12rem;
    min-height: 5em;
}

input:focus,
textarea:focus {
    border-color: #fbc531;
}

input[type=checkbox],
input[type=radio] {
    position: absolute;
    left: -9999px;
}

input[type=checkbox] + label::before,
input[type=radio] + label::before {
    position: relative;
    vertical-align: middle;
    content: "";
    width: .8em;
    height: .8em;
    font-size: 1.8rem;
    border: 1px solid black;
}

input[type=radio] + label::before {
    border-radius: 50%;
    border-width: 1px;
    border-style: dashed;
  }

input[type=checkbox]:checked + label::after,
input[type=radio]:checked + label::after {
    position: absolute;
    left: 0%;
    top: -.32rem;
    content: "\262D";
}

label {
    position: relative;
    display: inline;
    vertical-align: middle;
    margin: .1rem .5em;
}

.form-control{
    margin: .5em 0 1.5em;
}

.form-line {
    display: flex;
    align-items: center;
    margin: .3em 0 .5em;
}

.form-line input[type="text"],
.form-line input[type="password"] {
    min-width: 16em;;
}

.centrist {
    text-align: center;
}

/* Flex size */
.f-6 {
    width: 60%;
}

.f-1 {
    width: 10%;
}

.c-8 {
    width: 75%;
}

.c-o-2 {
    margin: auto;
}